* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image:  linear-gradient(to right, red, yellow);
    text-align: center;
}

button {
    background: transparent;
    height: 30px;
    width: 50px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 12px;
    cursor: pointer;
}

input {
    border: 3px solid white;
    border-radius: 10px;
    background: transparent;
    height: 30px;
    width: 30%;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}